
@{
    ViewBag.Title = "Agregar2";
}

<h2>Agregar2</h2>

@Html.Display("Trabajador")
<br />
<hr />
@Html.Editor("Trabajador")

@{ 
    var lista= new List<SelectListItem>()
            {
                new SelectListItem()
                {
                    Text="Si",
                    Value="1"
                },
                new SelectListItem()
                {
                    Text="No",
                    Value="2"
                }
            };
}
<br />
@Html.DropDownList("MiLista", lista)
