
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

Mi nombre es: <b>@ViewData["Nombre"]</b>  
mi correo es: <a href="@ViewData["correo"]">Danna Marlen</a> <br />
Fecha: @(((DateTime)@ViewData["FechaNaci"]).ToLongDateString())

