@using BackEnd_ejemplo1.Models;

@model Garaje
@{
    Layout = null;
}

<table class="table-bordered">
    <tr>
        <th>ID</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>PROPIETARIO</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IdCoche</td>
            <td>@item.Marca</td>
            <td>@item.Modelo</td>
            <td>@item.Propietario</td>
        </tr>
    }


</table>


