<div class="jumbotron">
    <h1>Vista Parcial</h1>
    <hr />
    <button type="button" id="btnGaraje">Cargar Garaje</button>
    <button type="button" id="btnGarajeSimple">Cargar Garaje Simple</button>
    <button type="button" id="btnLimpiar">Limpiar Datos</button>
</div>
<div id="divGaraje"></div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            console.log("dentro");
            $("#btnGaraje").click(function () {
                console.log("btn1");
                $("#divGaraje").load("_Garaje");
            });
            $("#btnGarajeSimple").click(function () {
                $("#divGaraje").load("_GarajeSimple");
            });
            $("#btnLimpiar").click(function () {
                $("#divGaraje").html("");
            });
        });
    </script>
    }
